Package: apt.sun.msettings
Name: MSettings
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: 一个简洁而使用的系统优化插件
Maintainer: Jacky
Author: Jacky
Section: Tweaks
Version: 1.1-2
Installed-Size: 416
